/* THESE ARE GLOBAL STYLES FOR THE WHOLE WEBSITE */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  overflow-x: hidden;
  scroll-behavior: smooth;
  width: 100%;
  min-height: 100vh;
}

body {
  font-family: 'Inter', sans-serif;
  color: var(--neutral-300);;
  background-color: var(--neutral-900);
  position: relative;
}

a {
  cursor: pointer;
  text-decoration: none;
}

p {
  line-height: 160%;
  font-size: 20px;
  font-weight: 400;
}

/* SCROLLBAR */

::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-track {
  background: var(--neutral-800);
  box-shadow: inset 0 0 5px var(--neutral-700);
  border-radius: 6px;
}

::-webkit-scrollbar-thumb {
  background: var(--neutral-700);
  border-radius: 6px;
}

::-webkit-scrollbar-thumb:hover {
  background: var(--neutral-600);
}