@import url("body/body.css");

@import url("sections/sidenav.css");
@import url("sections/index.css");
@import url("sections/footer.css");
@import url("sections/contact.css");

@import url("elements/buttons.css");
@import url("elements/links.css");
@import url("elements/typescale.css");

:root {

/* COLOR PALETTE */

--neutral-000: #ECECEC;
--neutral-900: #111114;
--neutral-800: #161619;
--neutral-700: #2D2D30;
--neutral-600: #90969C;
--neutral-300: #C0C0C1;

}