@import url("global.css");

@import url("sections/navbar.css");
@import url("sections/content.css");
@import url("sections/index.css");
@import url("sections/footer.css");
@import url("sections/contact.css");

@import url("elements/buttons.css");
@import url("elements/links.css");
@import url("elements/typescale.css");

:root {

/* COLOR PALETTE */

--neutral-700: #0D0D0F;
--neutral-600: #111114;
--neutral-500: #161619;
--neutral-400: #2D2D30;
--neutral-300: #3E3E40;
--neutral-200: #78787A;
--neutral-100: #9F9FA1;
--neutral-050: #B5B5B6;
--neutral-025: #D2D2D3;
--neutral-000: #E8E8E8;

}

