/* THIS IS THE BIG PARENT CONTAINER OF ALL THE CONTENT. EVERYTHING BUT THE NAVBAR */

.content {
  margin-left: 309px;
  padding: 48px 160px 20px 160px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.content-index,
.content-work,
.content-resume {
  max-width: 1150px;
}

/* BREAKPOINTS */

@media screen and (max-width: 1440px) {       

  .content {
    padding: 48px 112px 20px 112px;
  }

}

@media screen and (max-width: 1099px) {

  .content {
    padding: 48px 40px 20px 40px;
  }
}

@media screen and (max-width: 849px) {

  .content {
    margin-left: 0px;
    padding: 40px 20px 120px 20px;
  }
}