/* THIS IS THE FOOTER */

.footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: baseline;
  padding-top: 20px;
  border-top: 1px solid var(--neutral-700);
}

.footer p {
  margin-bottom: 0px;
}

.footer span {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}

.footer span p, .footer span a {
  font-size: 14px;
  line-height: auto;
  color: var(--neutral-400);
}

.footer span p {
  margin-right: 4px;
}

.footer span a {
  margin-right: 2px;
  color: var(--neutral-400);
}

.footer a:hover {
  color: var(--neutral-000);
}

.footer img {
  height: 16px;
  width: 16px;
}

.footer p {
  font-size: 14px;
  text-align: right;
  line-height: auto;
  color: var(--neutral-400);
}

/* BREAKPOINTS */

/* 0-849 */

@media screen and (max-width: 849px) {

  .footer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }

  .footer span {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 16px;
  }

  .footer span p,
  .footer span a {
    font-size: 16px;
  }

  .footer span a {
    text-decoration: underline;
  }

  .footer span p:first-of-type {
    margin-bottom: 8px;
  }

  .footer-slash {
    display: none;
  }

  .footer span a {
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  .footer span a img:first-of-type {
    margin-right: 8px;
  }

}