/* THIS IS ABOUT.HTML */

.content h1 {
  font-size: 48px;
  line-height: 140%;
  font-weight: 600;
  color: var(--neutral-400);
  margin-bottom: 48px;
}

.content-index-1 p{
  margin-bottom: 24px;
}

.content-music {
  display: flex;
  flex-direction: column;
  margin-top: 160px;
  margin-bottom: 120px;
}

.content-music p {
  margin-bottom: 32px;
}

.spotify {
  border: 1px solid var(--neutral-700);
  border-radius: 24px;
  padding: 24px;
  background-color: var(--neutral-800);
}