/* THIS IS ABOUT.HTML */

.content-index h1 {
  font-size: 48px;
  line-height: 140%;
  font-weight: 600;
}

.content-index h1, .content-index p  {
  margin-bottom: 32px;
}

.guidingtext {
  font-family: 'Roboto Mono', monospace;
  color: var(--neutral-400);
}

.quote {
  font-size: 32px;
  font-style: italic;
  font-weight: 300;
}

.keyword {
  padding: 1px 4px;
  border-radius: 8px;
  font-weight: 400;
}

.spotify {
  border: 1px solid var(--neutral-700);
  border-radius: 24px;
  padding: 24px;
  background-color: var(--neutral-800);
  margin-bottom: 48px;
}