/* THIS IS ABOUT.HTML */

.content-index h1 {
  font-size: 48px;
  line-height: 140%;
  font-weight: 600;
}

.content-index h1, .content-index p  {
  margin-bottom: 32px;
}

.content-index p  {
  margin-bottom: 32px;
  color: var(--neutral-100);
}

.guidingtext {
  font-family: 'Roboto Mono', monospace;
  font-weight: 300;
}

.quote {
  font-size: 32px;
  font-weight: 300;
  color: var(--neutral-000) !important; 
}

.keyword {
  color: var(--neutral-000);
}

.timeline {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  margin-bottom: 48px;
}

.timeline-section {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
}

.timeline .timeline-section:not(:last-of-type) {
  margin-bottom: 32px;
}

.timeline-text {
  text-align: left;
  margin-bottom: 0 !important;
}

.spotify {
  border: 1px solid var(--neutral-400);
  border-radius: 24px;
  padding: 16px;
  background-color: var(--neutral-600);
  margin-bottom: 48px;
}

/* BREAKPOINTS */

@media screen and (max-width: 450px) {

  .content-index h1 {
    font-size: 44px;
  }

  .quote {
    font-size: 22px;
  }

  .spotify {
    padding: 16px;
  }

}