/* THIS IS THE NAVBAR */

.navbar {
  position: fixed;
  height: fill;
  width: auto;
  z-index: 100;
  overflow-x: hidden;
  overflow-y: auto;
  top: 12px;
  left: 8px;
  bottom: 12px;
  background-color: var(--neutral-600);
  border-radius: 24px;
  border: 1px solid var(--neutral-400);
  padding: 32px 24px;
}

.navbar-title {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 32px;
}

.navbar-title-picture {
  height: 64px;
  width: 64px;
  border-radius: 100px;
  border: 1px solid var(--neutral-000);
  margin-right: 16px;
}

.navbar-title-text h1 {
  margin-bottom: 2px;
  font-size: 20px;
  font-weight: 500;
  line-height: auto;
  color: var(--neutral-000);
}

.navbar-title-text p {
  color: var(--neutral-100);
  font-size: 16px;
  font-weight: 400;
  line-height: auto;
}

ul {
  list-style: none;
}

.navbar-link-1 {
  padding-bottom: 20px;
  border-bottom: 1px solid var(--neutral-400);
}

.navbar-link-2 {
  padding-top: 20px;
  padding-bottom: 20px;
}

.navbar-link-3 {
  padding-top: 20px;
  border-top: 1px solid var(--neutral-400);
}

.navbar li:not(:last-of-type) {
  margin-bottom: 8px;
}

.navbar a {  
  display: flex;
  align-items: center;
  font-size: 16px;
  font-weight: 400;
  color: var(--neutral-000);
}

.navbar-link-1 a {
  padding: 12px;
}

.navbar-link-2 a {
  padding: 12px 8px 12px 12px;
}

.navbar-link-3 a {
  padding: 12px 8px 12px 12px;
}

.navbar-link-3 li {
  margin-bottom: 0px;
}

.navbar-icon {
  margin-right: 12px;
  height: 20px;
  width: 20px;
}

.navbar-right-icon {
  margin-left: auto;
}

.navbar a:hover {
  background-color: var(--neutral-400);
  border-radius: 12px;
}

.navbar-link-1 .btn-active {
  background-color: var(--neutral-025);
  color: var(--neutral-700);
  border-radius: 12px;
  font-weight: 500;
}

.navbar-link-1 .btn-active:hover {
  background-color: var(--neutral-050);
  border-radius: 12px;
  font-weight: 500;
}

/* BREAKPOINTS */

@media screen and (max-width: 849px) {

  .navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: fit-content;     
    width: auto;
    padding: 16px;
    border-radius: 32px;
    left: 50%;
    transform: translatex(-50%);
    top: 85%;
  }

  /*.navbar-title {
    margin-bottom: 0px;
  }*/

  .navbar-title-picture {
    display: none;
    /*height: 48px;
    width: 48px;
    margin-right: 24px;*/
  }

  .navbar-title-text h1,
  .navbar-title-text p {
    display: none;
  }

  .navbar-link-1,
  .navbar-link-2,
  .navbar-link-3 {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding-bottom: 0px;
    border-bottom: none;
    padding-top: 0px;
    border-top: none;
  }

  .navbar-link-1 .navbar-icon,
  .navbar-link-2 .navbar-icon,
  .navbar-link-3 .navbar-icon {
    display: none;
  }

  .navbar-link-2 .navbar-right-icon,
  .navbar-link-3 .navbar-right-icon {
    margin-left: 4px;
    height: 18px;
    width: 18px;
  }

  .navbar-link-1 li,
  .navbar-link-2 li,
  .navbar-link-3 li {
    margin-bottom: 0px !important;
  }

  .navbar-link-1 li,
  .navbar-link-2 li{
    margin-right: 2px !important;
  }

  .navbar a {
    text-decoration: none;
    font-size: 16px;
    font-weight: 400;
    color: var(--neutral-025);
    padding: 6px 8px;
  }

  .navbar-link-1 .btn-active {
    border-radius: 12px;
    padding: 6px 8px;
    background-color: var(--neutral-400);
    color: var(--neutral-000);
  }
}

@media screen and (max-width: 450px) {

  .navbar {
    border-radius: 24px;
  }
  
}